// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ/_base.scss */

/* RESET */
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #efede9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0px;
}
a {
    color: #336699;
    &:hover {
        color: #0000FF;
    }
}
h1 {
    color:#78a22f;
    font-family: Georgia, serif;
    font-size:21px;
    font-weight:normal;
    margin-bottom:2px;}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #5a5d62;
    padding-top: 14px;
    line-height: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}
table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 0;
    &.disclosure p.disclosure {
        font-size: 10px;
    }
    &.disclosure:first-child p.disclosure {
        margin-bottom: 0;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
