// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* RESET */
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #efede9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0px;
}
table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 0;
}
#tableOuter {
    border: solid 1px #CCC;
    border-collapse: collapse;
    margin: 0.25em auto;
    width: auto;
}
#tableInner {
    margin: 15px;
    width: 964px;
}
#topNav {
    padding-top: 20px;
    padding-bottom: 20px;
}
#topNav * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}
a {
    color: #336699;
}
a:hover {
    color: #0000FF;
}
.tileDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #d7d3c7;
    padding: 4px;
    vertical-align: top
}
.secondaryDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top
}
.secondaryDescription table {
    border-collapse: separate;
}
.secondaryDescription td {
    padding: 3px;
}
.tileImage {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #d7d3c7;
    border-right-color: #d7d3c7;
    border-bottom-color: #d7d3c7;
    border-left-color: #d7d3c7;
    border-width: 1px;
}
.footerRule {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    height: 1px;
    border-style: solid
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #5a5d62;
    padding-top: 14px;
    line-height: 0;
}
.theme-default #slider {
    margin: 0;
    width: 313px; /* Make sure your images are the same size */
    height:177px; /* Make sure your images are the same size */
}
.wfstage {
    float: right;
    margin-top: 1em;
}
.disclosure {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    vertical-align: bottom;
}
td.disclosure p.disclosure {
    font-size: 10px;
}
td.disclosure:first-child p.disclosure {
    margin-bottom: 0;
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
